@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AnswerCube.UI.MVC.Controllers.UserRolesDto

@{
    ViewBag.Title = "title";
    Layout = "_Users";
}

<h1>Deelplatform</h1>
<div class="col-9">

    <h2>Add DeelplatformBeheerder</h2>
    @if (TempData["Error"] != null)
    {
    <div class="text-danger col-6">@TempData["Error"]</div>
    }
    @if (TempData["Success"] != null)
    {
    <div class="text-info col-6">@TempData["Success"]</div>
    }
    <form asp-controller="Admin" asp-action="AddDeelplatform" method="post" class="@(TempData["Message"] != null ? "alert alert-danger" : "")">
        <label for="email">Deelplatform Email</label>
        <input type="text" id="email" name="email" required>
        <button class="btn btn-primary" type="submit">
            <i class="fa-solid fa-paper-plane"></i>
        </button>
    </form>

</div>

@if (Model.Users == null || Model.Users.Count == 0)
{
    <div class="text-danger col-6 fw-bold">No Deelplatform Beheerders found</div>
}
else
{
    <table class="table">
        <input type="text" id="searchQuery" placeholder="Search by email"/>
        <thead>
        <tr>
            <th>Email</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.Users)
        {
                <tr class="user-row">
                    <td data-email="@user.Email">
                        @user.Email
                    </td>
                    <td>
                        <form asp-controller="Admin" asp-action="RemoveDeelplatformBeheederRole" asp-route-id="@user.Id" method="post"
                              onsubmit="return confirm('Do you really want to remove this Deelplatform? Their whole platform will be deleted!');">
                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
        }
        </tbody>
    </table>
}
<script src="https://kit.fontawesome.com/9ecbe616c3.js" crossorigin="anonymous"></script>