@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims
@using AnswerCube.BL.Domain.User
@model AnswerCube.UI.MVC.Controllers.UserRolesDto


@{
    ViewBag.Title = "Role Assignment";
    Layout = "_Users";
}

<h1>Users</h1>
@if (TempData["ErrorOwnAccountDelete"] != null)
{
    <div class="text-danger col-6">@TempData["ErrorOwnAccountDelete"]</div>
}
<table class="table">
    <thead>
    <input type="text" id="searchQuery" placeholder="Search by email"/>
    <tr>
        <th>Email</th>
        <th>Role's</th>
        <th>Manage Role</th>
        <th>Delete User</th>
    </tr>

    </thead>
    <tbody>
    @foreach (var user in Model.Users)
    {
        if (user is AnswerCubeUser answerCubeUser)
        {
            <tr class="user-row">
                <td data-email="@answerCubeUser.Email">
                    @answerCubeUser.Email
                </td>
                <td>
                    @{
                        Model.Roles.TryGetValue(user.Id, out var roles);

                        string joinedString = string.Join(",", roles);
                    }
                    @joinedString
                </td>
                <td>
                    <a style="width: auto" class="btn btn-primary" asp-controller="Admin" asp-action="Role" asp-route-id="@user.Id">
                        <i class="fas fa-edit"></i >
                    </a>
                </td>
                @if (user.Id != User.FindFirst(ClaimTypes.NameIdentifier)?.Value)
                {
                    <td>
                        <form asp-controller="Admin" asp-action="Delete" asp-route-id="@user.Id" method="post">
                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                }
                else
                {
                    <td> This is you </td>
                }
            </tr>
        }
    }
    </tbody>
</table>
<script src="https://kit.fontawesome.com/9ecbe616c3.js" crossorigin="anonymous"></script>