@model Domain.Organization

@{
    ViewBag.Title = "Project Overzicht";
    Layout = "_Layout";
}
@*//TODO: Add a way to make the big descriptions smaller and finish the Layout*@
<h1>Organizatie</h1>
<input type="text" id="searchInput" class="row form-control" placeholder="Type a name to search">
<div class="container">
    <div class="row">
        <div class="col-9">
            <h2>Projecten</h2>
            <div id="infoDiv"></div>
            <div class="row">
                @foreach (var project in Model.Projects)
                {
                    <div class="col-sm-6 mb-3 project-div" data-project-id="@project.Id"
                         data-organization-id="@Model.Id"
                         data-project-name="@project.Title">
                        <div class="card h-auto">
                            <div class="card-body">
                                <h2 class="card-title">@project.Title</h2>
                                <p class="card-text">@project.Description</p>
                                <p>Status: @(project.IsActive ? "Actief" : "Niet actief")</p>
                                <p>Totaal aantal flows: @project.Flows.Count</p>
                                <p>Totaal actieve installaties: @project.TotalActiveInstallations</p>
                                <div>
                                    <button class="btn btn-primary "
                                            onclick="location.href='@Url.Action("EditProject", "Project", new { projectId = project.Id })'" title="Edit Project">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button class="btn btn-danger"
                                            title="Delete Project"
                                            onclick="location.href='@Url.Action("DeleteProject", "Project", new { projectId = project.Id, organisationId = Model.Id })'">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">New Project</h2>
                            <p class="card-text">Voeg een nieuw project toe</p>
                            <button class="btn btn-primary"
                                    title="New Project"
                                    onclick="location.href='@Url.Action("NewProject", "Project", new { organizationId = Model.Id })'">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="col-12">
                <h2>Deelplatformbeheerders</h2>
                <div class="list-group scrollable-list">
                    @foreach (var userOrg in Model.UserOrganizations)
                    {
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="text-capitalize">@userOrg.User.UserName</p>
                        <button class="btn btn-danger"
                                title="Remove Deelplatformbeheerder"
                                onclick="location.href='@Url.Action("RemoveDeelplatformbeheeder", "Project", new { userId = userOrg.User.Id , organisationId = Model.Id })'">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/dist/project.entry.js"></script>
    <script src="https://kit.fontawesome.com/9ecbe616c3.js" crossorigin="anonymous"></script>
}