@model Domain.Organization

@{
    ViewBag.Title = "Project Overzicht";
    Layout = "_Layout";
}
<style>

    .new-project {
        font-size: 50px;
        font-weight: bold;
    }

    .projects-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -10px;
        height: 400px; /* Adjust this value according to your needs */
        overflow-y: auto; /* Enables vertical scrolling */
        overflow-x: hidden; /* Prevents horizontal scrolling */
    }

    .project {
        position: relative;
        background-color: #f0f0f0;
        color: #000;
        padding: 20px;
        margin: 10px;
        border: 1px solid #ccc;
        flex: 0 0 calc(50% - 20px);
        box-sizing: border-box;
    }

    .project p {
        overflow: hidden; /* Hide the overflow */
        text-overflow: ellipsis; /* Indicate that text has been clipped */
        white-space: nowrap; /* Prevent text from wrapping */
        max-height: 50px; /* Adjust this value according to your needs */
    }

    .icon-container {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px;
    }

    .new-project {
        background-color: #ccc;
        color: #000;
        padding: 20px;
        margin: 10px;
        border: 1px solid #ccc;
        flex: 0 0 calc(50% - 20px);
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 30px;
        color: #000;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin: 5px;
    }

    .project-button:hover {
        background-color: #ddd;
    }
</style>
@*//TODO: Add a way to make the big descriptions smaller and finish the Layout*@
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Project Overzicht</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="projects-container">
                @foreach (var project in Model.Projects)
                {
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">@project.Title</h2>
                                <p class="card-text">@project.Description</p>
                                <p>Status: @(project.IsActive ? "Actief" : "Niet actief")</p>
                                <p>Totaal aantal flows: @project.Flows.Count</p>
                                <p>Totaal actieve installaties: @project.TotalActiveInstallations</p>
                                <div class="icon-container">
                                    <button class="btn btn-primary "
                                            onclick="location.href='@Url.Action("EditProject", "Project", new { projectId = project.Id })'" title="Edit Project">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button class="btn btn-danger"
                                            title="Delete Project"
                                            onclick="location.href='@Url.Action("DeleteProject", "Project", new { projectId = project.Id, organisationId = Model.Id })'">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">New Project</h2>
                            <p class="card-text">Voeg een nieuw project toe</p>
                            <button class="btn btn-primary project-button"
                                    title="New Project"
                                    onclick="location.href='@Url.Action("NewProject", "Project", new { organizationId = Model.Id })'">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://kit.fontawesome.com/9ecbe616c3.js" crossorigin="anonymous"></script>