@model SlideCompositeModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AnswerCube</title>
    <script src="~/dist/site.entry.js" defer></script>
    <script src="~/dist/circularflow.entry.js" defer></script>
    <script src="~/dist/inputhandler.entry.js" defer></script>
    @RenderSection("Scripts", required: false)
    <link rel="stylesheet" href="~/dist/site.css">
</head>
<body class="body-container">
<header>
</header>

<div class="container">
    <main role="main" class="pb-3">
        <div class="container mt-5">
        <div class="slide-container border p-4 rounded position-relative page-container">
            <div class="d-flex justify-content-center align-items-center p-3 mb-3 w-100">
                <span class="font-weight-bold h3 mb-0">Subtheme - @Model.CircularFlowModel.SubTheme.Name</span>
                <p id="timer"></p>
            </div>
                <a href="@Url.Action("Subthemes", "CircularFlow")" id="changeSubtheme" class="btn btn-primary font-weight-bold position-absolute">
                    Change Subtheme
                </a>
                @RenderBody()

                <!-- TODO zet de knoppen hier en aan de hand van het slidetype ander knoppen showen -->
            </div>
        </div>
    </main>
</div>


<footer class="border-top footer text-muted">

</footer>
</body>
</html>

