@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AnswerCube</title>
    <script src="~/dist/site.entry.js" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
    <link rel="stylesheet" href="~/dist/site.css">
</head>
<body class="bg-light">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black navbar-dark border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    @if (TempData.ContainsKey("OrganizationLogo"))
                    {
                        <img src="@TempData["OrganizationLogo"]" alt="Organization Logo">
                    }
                    else
                    {
                        <img src="~/Images/AnswerCubeLogo.png" alt="Logo">
                    }
                </a>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Contactinfo" asp-action="ContactInfo">Leave Contact Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Forum" asp-action="Forums">Show Forums</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="CircularFlow" asp-action="CircularFlow">CircularFlow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Installation" asp-action="ChooseInstallation">Initialize Installation</a>
                    </li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Users">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="DeelplatformOverview">DeelplatformOverview</a>
                        </li>
                    }
                    @if (User.IsInRole("DeelplatformBeheerder") || User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Organization" asp-action="Index" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Deelplatform</a>
                        </li>
                    }
                    @if (User.IsInRole("Supervisor") || User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Begeleider" asp-action="SelectActiveInstallation">Beheer Installation</a>
                        </li>
                    }
                </ul>
            </div>
            <partial name="_LoginPartial"></partial>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - AnswerCube - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
</body>
</html>