@model InstallationViewModel

@{
    Layout = "_GeneralLayout";
}

@section Scripts
{
    <script src="~/dist/initializeinstallation.entry.js" defer></script>
}

<div id="mainDiv" class="container">
    <h1 class="mt-5">Choose An InActive Installation</h1>
    <div class="form-group row align-items-center">
        <form class="col-md-8 mt-3">
            <label for="inactiveInstallations" class="mb-2">Select an Inactive Installation</label> <!-- Added margin-bottom -->
            <select class="form-control form-select-lg" id="inactiveInstallations" name="inactiveInstallations">
                @foreach (var installation in @Model.InstallationModels)
                {
                <option value="@installation.Id">@installation.Name @installation.Location</option>
                }
            </select>
        </form>
        <div class="col-md-4 d-flex justify-content-start align-self-end">
            <button id="createInstallationButton" class="btn btn-secondary">Create new Installation</button>
        </div>
    </div>
    <button id="confirmButton" class="btn btn-primary mt-3">Activate Selected Installation</button>
</div>

<!-- Create Installation Modal -->
<div class="modal fade" id="createInstallationModal" tabindex="-1" role="dialog" aria-labelledby="createInstallationModalLabel" aria-hidden="true">
    
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createInstallationModalLabel">Create New Installation</h5>
            </div>
            <div class="modal-body">
                <form id="newInstallationForm">
                    <div class="form-group">
                        <label for="installationName">Installation Name</label>
                        <input type="text" class="form-control" id="installationName" name="installationName">
                    </div>
                    <div class="form-group">
                        <label for="installationLocation">Installation Location</label>
                        <input type="text" class="form-control" id="installationLocation" name="installationLocation">
                    </div>
                    <label for="inactiveInstallations">Select an Organisation</label>
                    <select class="form-control form-select-lg" id="organisations" name="organisations">
                        @foreach (var organization in @Model.Organizations)
                        {
                            <option value="@organization.Id">@organization.Name</option>
                        }
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button id="closeInstallationModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="saveInstallationButton" type="button" class="btn btn-primary">Save Installation</button>
            </div>
        </div>
    </div>
</div>

