@using Domain
@model AnswerCube.BL.Domain.Project.Project

@{
    ViewBag.Title = "Flow overzicht";
    Layout = "_Layout";
}

<div class="container mt-5 flow-card">
    <div class="card mx-auto">
        <div class="card-header bg-dark text-white text-center">
            <h4 class="font-weight-bold">FLOWS</h4>
        </div>
        <div class="card-body">
            @if (Model.Flows.Count == 0)
            {
                <div class="flow-item justify-content-between align-items-center text-dark fw-bold mb-3 p-2 mb-2 fs-4 flex-grow-1">
                    No flows yet!
                </div>
            }
            else
            {
                @foreach (var flow in Model.Flows)
                {
                    <div class="flow-item justify-content-between align-items-center fw-bold mb-3 p-2 mb-2 fs-4 flex-grow-1">
                        <a asp-action="FlowDetails" asp-controller="Flow" asp-route-flowId="@flow.Id" data-flowid="@flow.Id" class="d-flex align-items-center text-decoration-none">
                            @flow.Name
                        </a>
                        <button class="btn btn-primary btn-danger" onclick="location.href='@Url.Action("DeleteFlow", "Flow", new { flowId = flow.Id, projectId = Model.Id })'">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                }
            }
        </div>
        <div class="card-footer text-center bg-success create-flow fw-bold">
            <a asp-action="NewFlowView" asp-controller="Project" asp-route-projectId="@Model.Id" class="create-new-flow-link text-white d-block text-center fs-4 text-decoration-none">
                Create New Flow
            </a>
        </div>
    </div>
    <div class="d-flex justify-content-lg-center mt-5">
            @if (Model.Organization != null)
            {
                <a href="@Url.Action("Index", "Organization", new { organizationid = Model.Organization.Id })" class="btn btn-dark text-white">
                    Back
                </a>
            }
            else
            {
                <p class="text-danger">Organization details are not available.</p>
            }
        </div>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/9ecbe616c3.js" crossorigin="anonymous"></script>
}
