@using Domain
@model AnswerCube.BL.Domain.Project.Project

@{
    ViewBag.Title = "Flow overzicht";
    Layout = "_Layout";
}

<style>
    .flow-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #f8f9fa; /* Lichte achtergrondkleur voor aanklikbaarheid */
        border: 1px solid #e9ecef;
        border-radius: 5px;
        margin-bottom: 10px;
        transition: background-color 0.3s;
    }

    .flow-item a {
        font-weight: bold;
        color:  black;
        font-size: 22px;
        text-decoration: none;
        flex-grow: 1;
    }
    
    .create-flow a {
    font-weight: bold;
     font-size: 22px;
     text-decoration: none;
     }

    .flow-item a:hover {
        color: #0056b3;
        background-color: #e9ecef;
    }

    .btn-danger {
        font-size: 18px; /* Kleinere trash can */
    }

    .flow-card {
        width: 65%; /* Stel de gewenste breedte in */
        margin: 0 auto; /* Centreer de kaart */
    }

    .card-footer {
        text-align: center;
    }
   
</style>

<div class="container mt-5">
    <div class="card flow-card">
        <div class="card-header bg-dark text-white text-center">
            <h4 class="font-weight-bold">FLOWS</h4>
        </div>
        <div class="card-body">
            @if (Model.Flows.Count == 0)
            {
                <p class="card-text">No Flows</p>
            }
            else
            {
                @foreach (var flow in Model.Flows)
                {
                    <div class="flow-item mb-3">
                        <a asp-action="FlowDetails" asp-controller="Flow" asp-route-flowId="@flow.Id" data-flowid="@flow.Id">@flow.Name</a>
                        <button class="btn btn-primary btn-danger" onclick="location.href='@Url.Action("DeleteFlow", "Flow", new { flowId = flow.Id, projectId = Model.Id })'">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                }
            }
        </div>
        <div class="card-footer bg-success create-flow">
            <a asp-action="NewFlowView" asp-controller="Project" asp-route-projectId="@Model.Id" class="create-new-flow-link text-white d-block text-center">
                Create New Flow
            </a>
        </div>
    </div>
    <div class="d-flex justify-content-lg-center mt-5">
            @if (Model.Organization != null)
            {
                <a href="@Url.Action("Index", "Organization", new { organizationid = Model.Organization.Id })" class="btn btn-dark text-white">
                    Back
                </a>
            }
            else
            {
                <p class="text-danger">Organization details are not available.</p>
            }
        </div>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/9ecbe616c3.js" crossorigin="anonymous"></script>
}
