@model List<AnswerCube.BL.Domain.Project.Project>

@{
    ViewBag.Title = "Project Overzicht";
    Layout = "_Layout"; 
}
    <style>
        body {
            padding: 20px; 
        }
        
        .new-project .plus-icon {
                font-size: 50px; 
                font-weight: bold;
            }

        .project-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 -10px; 
        }

        .project {
            background-color: #f0f0f0;
            color: #000;
            padding: 20px;
            margin: 10px;
            border: 1px solid #ccc;
            flex: 0 0 calc(50% - 20px); 
            box-sizing: border-box;
        }

        .new-project {
            background-color: #ccc;
            color: #000;
            padding: 20px;
            margin: 10px;
            border: 1px solid #ccc;
            flex: 0 0 calc(50% - 20px); 
            box-sizing: border-box;
            text-align: center;
            cursor: pointer;
        }
    </style>
<div>
<h1>Project Overzicht</h1>
<div class="project-container">
    @foreach (var project in Model)
    {
        <div class="project">
            <h2>@project.Title</h2>
            <p>@project.Description</p>
            <p>Status: @(project.IsActive ? "Actief" : "Niet actief")</p>
            <p>Totaal aantal flows: @project.TotalFlows</p>
            <p>Totaal actieve installaties: @project.TotalActiveInstallations</p>
        </div>
    }

    <div class="new-project" onclick="location.href='@Url.Action("NewProject", "Project")'">
        <h2>New Project</h2>
        <p>Voeg een nieuw project toe</p>
        <p class="plus-icon">&#43;</p>
    </div>
</div>
</div>