@model AnswerCube.UI.MVC.Models.Dto.ProjectOrganizationDTO

@{
    ViewBag.Title = Model.Project.Title;
    Layout = "_Layout";
}
<style>
    .icon-container {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        flex-direction: row;
    }

    .project-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        font-size: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-left: 5px;
        margin-right: 10px;
    }

    .project-button:last-child {
        margin-right: 0;
    }

    .card-body p.card-text {
        font-style: italic;
    }

    .btn-flows {
        background-color: #28a745;
        color: white;
    }

    .btn-flows:hover {
        background-color: #218838;
    }
</style>

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-black text-white ">
            <h2>@Model.Project.Title</h2>
            <div class="icon-container">
                <button class="btn btn-primary project-button"
                        onclick="location.href='@Url.Action("EditProject", "Project", new {projectId =  Model.Project.Id })'">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button class="btn btn-danger project-button"
                        onclick="location.href='@Url.Action("DeleteProject", "Project", new { projectId = Model.Project.Id, organisationId = Model.Project.Id })'">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>
        </div>
        <div class="card-body row">
            <h3 class="card-title mb-3">Project info</h3>
            <div class="col-12 col-md-6">
                <h4>Description:</h4>
                <p class="card-text">@Model.Project.Description</p>

                <p class="card-text">
                    <strong>Is Active:</strong> @Model.Project.IsActive
                </p>

                <p class="card-text">
                    <strong>Total Flows:</strong> @Model.Project.Flows.Count
                </p>
                <button type="button" onclick="location.href='@Url.Action("Flows", "Project", new { projectId = Model.Project.Id })'" class="btn btn-flows">Flows</button>

                <p class="card-text mt-4">
                    <strong>Total Active Installations:</strong> @Model.Project.TotalActiveInstallations
                </p>
            </div>
            <div class="col-12 col-md-6">
                <h3 class="card-title">Organization:</h3>

                <p class="card-text">
                    <strong>Name:</strong> @Model.Organization.Name
                </p>
                <p class="card-text">
                    <strong>Email:</strong> @Model.Organization.Email
                </p>
            </div>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/9ecbe616c3.js" crossorigin="anonymous"></script>
