@model SlideCompositeModel


@{
    ViewBag.Title = "SingleChoice";
    Layout = ViewData["Layout"] as string;
    int answerCounter = 1;
}


<h1 class="question">Single Choice</h1>
<div id="slide" class="question">
    <h3>@Model.SlideModel.Text</h3>
    @if (Model.SlideModel.MediaUrl != null)
    {
        // Check if mediaUrl exists
        // Extract the filename from the media URL
        var filename = Model.SlideModel.MediaUrl.Split('/').Last();
        // Extract the media type from the filename
        var mediaType = filename.Split('_')[0];
        // Default to "image" if the media type is not "video"
        if (mediaType == "video")
        {
            <video width="320" height="240" controls><source src="@Model.SlideModel.MediaUrl" type="video/mp4"> Your browser does not support the video tag.</video>
            <br>
        }
        else if (mediaType == "image")
        {
            <img src="@Model.SlideModel.MediaUrl" alt="Slide Image">
        }
        else
        {
            <em>Unsupported media type</em>
        }
    }
    @if (Model.SlideModel.AnswerList != null)
    {
        <table id="AnswerTable">
            <tr id="HeaderRow">
                <td></td>
            </tr>
            @foreach (var answer in Model.SlideModel.AnswerList)
            {
                <tr>
                    <td id="AnswerRow @answerCounter">@answer</td>
                </tr>
                answerCounter++;
            }
        </table>
    }
    else
    {
        <p>no Answers Found</p>
    }
</div>
<div>
    <div id="SubmitBox">
        <table id="SubmitTable">

        </table>
        <button id="submitAnswer" type="button">Submit Answer</button>
    </div>
    <div id="SkipBox">
        <table id="SkipTable">

        </table>
        <button id="skipSlide" type="button">Skip</button>
    </div>
</div>

@if (Model.forumId == 0)
{
    <p>Error loading the forum.</p>
}
else
{
    <div>
        <p>Scan de QR code om jou mening achter te laten op het forum.</p>
        <div id="qrCode"></div>
        <div id="qrCodeData" data-url="@Url.Action("ShowForum", "Forum", new { forumId = Model.forumId })"></div>
    </div>
}

@section Scripts
{
    <script src="~/dist/singlechoice.entry.js" defer></script>
    <script src="~/dist/flowBeheer.entry.js" defer></script>
    <script type="text/javascript" src="~/lib/davidshimjs-qrcodejs-04f46c6/qrcode.js"></script>
    <script type="text/javascript" src="~/dist/qr.entry.js"></script>
}