@model FlowModel

@{
    ViewBag.Title = "Subtheme";
    Layout = "_GeneralLayout";
    int counter = 1;
}


<div class="slide-container">
    
    <div>
        <h1 class="question">Subthemes</h1>
    </div>
    <div>
        <table id="UserTable">
            
        </table>
    </div>

    <div id="AllSlideLists" class="row">
        @foreach (var slideList in Model.SlideLists)
        {
            <div id="SlideList @counter" class="col-md-4" data-info="@slideList.Id">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@slideList.Title</h5>
                        <p class="card-text">@slideList.SubTheme.Name</p>
                        <p class="card-text">@slideList.SubTheme.Description</p>
                        <a class="ChooseSlideList btn btn-primary" data-info="@slideList.Id">Select</a>
                    </div>
                    <div>
                        <table id="SlideListUserAnswer @counter">

                        </table>
                    </div>
                </div>
            </div>
            counter++;
        }
    </div>
    <div id="SubmitBox">
        <table id="SubmitTable">

        </table>
        <button id="submitAnswer" type="button">Choose SubTheme</button>
    </div>
</div>


@section Scripts
{
    <script src="~/dist/inputhandler.entry.js" defer></script>
    <script src="~/dist/subtheme.entry.js" defer></script>
}