@model Domain.SlideList

@{
    ViewBag.Title = "SlideList Details";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="mb-4">SlideList Details</h1>
                    <h5 class="card-title">Titel: @Model.Title</h5>
                    <a href="@Url.Action("CreateSlideView", "Flow", new { projectId = Model.Flow!.Project!.Id, slideListId = Model.Id })" class="btn btn-primary">
                        Add New Slide
                    </a>
                </div>
                <div class="col-md-6">
                    <h4 class="mt-4">Slides</h4>
                    <div class="card card-right">
                        <div style="height: 400px; overflow-y: scroll;">
                            <div class="mt-3">
                                @if (Model.ConnectedSlides != null && Model.ConnectedSlides.Count == 0)
                                {
                                    <div class="flow-button">No Slides</div>
                                }
                                else if (Model.ConnectedSlides != null)
                                {
                                    @foreach (var ConnetedSlide in Model.ConnectedSlides)
                                    {
                                        <div class="flow-button subtheme-rectangle">
                                            @if (ConnetedSlide.Slide != null)
                                            {
                                                <div class="card mt-3">
                                                    <div class="card-body">
                                                        <h4 class="card-title">SlideType: @ConnetedSlide.Slide.SlideType</h4>
                                                        <!-- Slide type -->
                                                        <h5 class="card-text">@ConnetedSlide.Slide.Text</h5>
                                                        <!-- Slide title -->
                                                        <h5 class="card-text">@ConnetedSlide.Slide.Id</h5>
                                                        <!-- Slide title -->
                                                        <a href="@Url.Action("RemoveSlideFromList", "Flow", new { projectId = Model.Flow!.Project!.Id, slideListId = Model.Id, slideId = ConnetedSlide.Slide.Id })" class="btn btn-danger">
                                                            <i class="fa-solid fa-trash-can"></i>
                                                        </a>
                                                        @if (ConnetedSlide.Slide.AnswerList != null && ConnetedSlide.Slide.AnswerList.Count > 0)
                                                        {
                                                            <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#answers-@ConnetedSlide.Slide.Id" aria-expanded="false" aria-controls="answers-@ConnetedSlide.Slide.Id">
                                                                Show/Hide Answers
                                                            </button>
                                                            <div class="collapse" id="answers-@ConnetedSlide.Slide.Id">
                                                                <ul class="list-group mt-3">
                                                                    @foreach (var answer in ConnetedSlide.Slide.AnswerList)
                                                                    {
                                                                        <li class="list-group-item">@answer</li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <span class="text-danger">Error: Slide object is null</span>
                                            }
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p>Error: No slides ;)</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete SlideList button -->
    <form id="deleteSlideListForm" method="post" asp-action="RemoveSlideListFromFlow" asp-controller="Flow">
        <input type="hidden" id="slideListId" name="slideListId" value="@Model.Id">
        <input type="hidden" id="flowId" name="flowId" value="@Model.FlowId">
        <button type="submit" class="btn btn-danger mt-3">Delete SlideList</button>
    </form>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/9ecbe616c3.js" crossorigin="anonymous"></script>
}
